* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F0F8FF;
  font-size: 1.2em;
  color: #59429d;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
  max-width: 360px;
}

input {
  font-family: sans-serif;
  font-size: 1em;
  color: #59429d;
  border-radius: 5px;
  margin-top: 2%;
}

button {
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #192a56;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  border-radius: 6px;
  max-width: 120px;
  margin-top: 8px;
}

#texto {
    width: 100%;
    display: block;
    padding: 8px;
}

.riscado{
    text-decoration: line-through
  }